<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htsx.resgov.dao.FieldMapper">
    <!--    namespace对应接口-->
    <!-- 根据主键查询-->
    <select id="getByTableNameAndTag" resultType="java.lang.String" parameterType="map">
         select ColumnName
         from fieldsinfo
         where Tag = #{tag} and TableName = #{tableName}
    </select>

    <select id="getBySysNameAndClassId" resultType="java.lang.String" parameterType="map">
         select TableName
         from tablesinfo
         where ClassId = #{classId} and SystemName = #{sysName}
    </select>


    <select id="selectBySql" resultType="java.lang.Integer" parameterType="com.htsx.resgov.entity.SqlHelper">
         ${sql}
    </select>



</mapper>